.c-nav{
    &__outer{
        @include media_PC{
        display: inline;
        position: relative;
        }
    }
    &__cat{
        display: flex;
        justify-content: space-between;
        &:hover{
            background-color: rgba(233, 249, 251,0.5);
        }
        @include media_PC{
            display: block;
            font-size: 1.5rem;
            padding: 10px 20px;    
        }
        & a{
            display: block;
            font-size: 1.4rem;
            padding:15px 0 15px 10px;
            @include media_PC{
                padding:15px 10px;

            }
        }
        &-button{
            position: relative;
            display: block;
            width: 50px;
            @include media_PC{
                position: static;
                display: none;
            }
        }    
    }
    &__list{
        display: none;    
    }
}
.c-service-list{
    &__icon{
        display: inline-block;
        width: 233px;
        height: 233px;
        border-radius: 233px;
        border:solid 3px $black;
        position: relative;
        background-color: white;
        &-detail{
            font-size: 100px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
        }
    }
    &__title{
        font-size: 2.5rem;
        padding:16px 0;
        color: white;
    }
    &__text{
        font-size: 1.6rem;
        padding:0 25px 40px 25px;
        color: white;
    }
}
